#why
	padding 0
.why-img
	display block
	margin 20px auto 0
	width 100%
	max-width 592px
.why-list
	list-style: none;
	counter-reset: my-counter;
	@media screen and (max-width 991px)
		margin-top: 40px
		@media screen and (max-width 560px)
			margin-top: 30px
	li
		counter-increment: my-counter;
		position: relative;
		margin-bottom: 25px
		padding-left: 25px
		@media screen and (max-width 560px)
			margin-bottom 15px
		&:last-child
			margin-bottom: 0
		&:before
			content: counter(my-counter) ". ";
			font-size: 25px
			font-weight: bold
			color #cc922f
			position absolute
			top -2px
			left 0
			line-height: 27px
.why-cta
	@media screen and (max-width 991px)
		text-align center
	&-wrapper
		position relative
		padding 10px 0
		margin-top: 45px
		&:before
			content: ''
			display block
			position absolute
			top 0
			left 0
			right 0
			bottom 0
			width 100%
			height: 100%
			background-color: #615858
			background-image: linear-gradient(to left, #615959, #020202)
			z-index 10
		&:after
			content: '“'
			display block
			position absolute
			top -20px
			left 130px
			font-size: 150px
			font-weight: bold
			color #fff
			z-index 30
			line-height: 100px
			@media screen and (max-width 991px)
				left 40px
			@media screen and (max-width 560px)
				font-size: 100px
				line-height: 60px
				top 0
				left 20px
	padding 25px 0
	position relative
	box-shadow: 0px 1px 53.1px 5.9px rgba(0, 0, 0, 0.68);
	background-image: url(../img/backs/why-cta.png)
	background-repeat: no-repeat
	background-position: center
	background-size: 100% 100%
	z-index 20
	&-text
		font-size: 25px
		font-weight: bold
		text-transform uppercase
		color #cc922f
		margin-top: 15px
		@media screen and (max-width 991px)
			margin 20px 0
		@media screen and (max-width 560px)
			font-size: 22px
			margin 10px 0 20px
		@media screen and (max-width 386px)
			font-size: 20px
	&-button
		position relative
		display inline-block
		&:after
			content: ''
			display block
			position absolute
			width 66px
			height: 82px
			right 0
			bottom: -60px
			background-image: url(../img/icons/cursor.png)
			background-repeat no-repeat
			background-position: center
			// @media screen and (max-width 991px)

.mfp-fade.mfp-bg
	opacity: 0;
	transition: all 0.5s ease-out;
/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready
	opacity: 0.8;
/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing
	opacity: 0;
/* content at start */
.mfp-fade.mfp-wrap .mfp-content
	opacity: 0;
	transition: all 0.5s ease-out;
/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content
	opacity: 1;
/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content
	opacity: 0;