*
	margin 0
	padding 0
	outline none
body
	font-size: 18px
	font-family: G
	font-weight: normal
	color #fff
	background-color #131313
	line-height: 1.5
.wrapper
	overflow hidden
.content
	position relative
	z-index 60
a
	color: #000
	&:focus
		outline: 0
		text-decoration none
	&:hover
		text-decoration none
h1,h2,h3,h4,h5,h6
	font-weight normal
	margin 0
button
	border none
section
header
footer
	width 100%
	display block
.button
	&-wrapper
		&-center
			text-align center
	display inline-block
	width auto
	padding 26px 20px
	border-radius: 8px
	font-size: 16px
	text-transform uppercase
	color #fff
	background-color: #cc922f
	position relative
	z-index 32
	transition all .3s ease
	&:focus
		color #fff
		text-decoration none
	&:hover
		color #fff
		background-color: #cc922f - 20%
		text-decoration none
	@media screen and (max-width 1199px)
		font-size: 15px
	@media screen and (max-width 386px)
		padding 17px 20px
		text-align: center
.general-title
	text-align center
	text-transform uppercase
	margin-bottom: 40px
	font-size: 45px
	font-weight: 900
	color #cc922f
	line-height: 43px
	position relative
	z-index 40
	span
		display block
		font-size: 30px
		font-weight: bold
		color #d2c2a0
	@media screen and (max-width 991px)
		font-size: 34px
		span
			font-size: 24px
	@media screen and (max-width 560px)
		font-size: 28px
		line-height: 1.1
		margin-bottom: 30px
		span
			font-size: 22px
	@media screen and (max-width 386px)
		font-size: 26px
		span
			font-size: 20px
@media screen and (max-width 991px)
	br
		display none