section#main
	include ../base/1-header
	+imgs('main-clouds', 'img/images/clouds.png', 'Облака')
	.container
		h1.main-title
			span Инвестиции 
			| в доходную недвижимость
		h2.main-subtitle Короткий путь к финансовой свободе
		.row
			.col-md-5
				ul.main-list
					li
						span Доступность
						|Минимальная сумма вложений – от 300 тыс.руб.
					li
						span Быстрота
						| Срок реализации проектов – до 12 месяцев
					li
						span Выгода
						| Средняя доходность проекта – 67% в год
						| Доходность инвестора – от 24% годовых
				p.main-text Жильё – самый стабильный и высокодоходный инструмент приумножения капитала!
				h3.main-cta Откройте его для себя!
				+b('', 'button-up', href, 'НАЧАТЬ ИНВЕСТИРОВАТЬ ПРЯМО СЕЙЧАС')
			.col-md-7
				.main-video-container
					.video-wrapper.video-wrapper-main
						+imgs('video-wrapper-laptop', 'img/images/laptop.png', 'Ноутбук')
						iframe(src='https://www.youtube.com/embed/qPoL4osJtvs?modestbranding=0&autoplay=1&mute=1' allowfullscreen)