section#main
	include ../base/1-header
	+imgs('main-clouds', 'img/images/clouds.png', 'Облака')
	.container
		h1.main-title
			span Инвестиции 
			| в доходную недвижимость
		h2.main-subtitle Короткий путь к финансовой свободе
		.row
			.col-md-5
				ul.main-list
					li
						span Доступность
						|Минимальная сумма вложений – от 300 тыс.руб.
					li
						span Быстрота
						| Срок реализации проектов – до 12 месяцев
					li
						span Выгода
						| Средняя доходность проекта – 67% в год
						| Доходность инвестора – от 24% годовых
				p.main-text Жильё – самый стабильный и высокодоходный инструмент приумножения капитала!
				h3.main-cta Откройте его для себя!
				+b('1', '', 'button-tg', href, 'Подписаться')
			.col-md-7
				.main-img
					+imgs('', 'img/images/main.png', 'Картинка блока')
					.main-img-text
						p
							span Узнайте подробнее уже сегодня! 
							| Подписывайтесь на закрытый Telegram-бот и узнайте секреты инвестирования в доходную недвижимость!