mixin clch(cl, n, src, sp, p)
	.col-md-3
		.cliche-wrapper
			.cliche(class="cliche-"+n+' '+cl)
				h4.cliche-title='0'+n
				+imgs('cliche-img', 'img/images/cliche-'+n+'.png', sp)
				p.cliche-text
					span!=sp
					=p


section#cliches
	.container
		h3.general-title.general-title-cliches
			span “Разбиваем” стереотипы про 
			| покупку жилья в России!
		.row
			+clch('', '1', '', 'Стереотип №1. <br>Покупка жилья – мечта, которую исполняют единицы', 'Мы расскажем Вам, как превратить эту мечту в реальность')
			+clch('', '2', '', 'Стереотип №2. <br>Чтобы приобрести квартиру, нужно много денег', 'Вы узнаете, как это сделать с минимальными личными вложениями')
			+clch('', '3', '', 'Стереотип №3. <br>Ипотека – кабала на всю жизнь', 'С нашей стратегией кредит окупится в короткие сроки')
			+clch('', '4', '', 'Стереотип №4. <br>За жизнь можно купить одну квартиру в лучшем случае', 'Поделимся опытом, как стать собственником нескольких объектов недвижимости')