section#details
	.container
		.row
			.col-md-6.col-md-push-6
				.content
					.details-info-wrapper
						.details-info
							p.details-info-text Новостройки в России подорожали на 9%, квартиры вторичного рынка – на  22% за год. Средняя цена 1 кв.м. в новостройках – 207,4 тыс. руб., на “вторичку” – 236,9 тыс. руб.
								span Узнайте подробности 
									br
									| у наших экспертов!
					p.details-cta Доходная недвижимость – это лучшая возможность для заработка в 2021 году!
					+b('button-wrapper-center', 'button-up', href, 'Стать инвестором')
			.col-md-6.col-md-pull-6
				.details-imgs
					+imgs('details-img details-img-1', 'img/images/details-1.png', 'Logo')
					+imgs('details-img details-img-2', 'img/images/details-2.png', 'Крутой мужик')