section#who
	.container
		+gt('', 'Кто мы')
		.col-md-5
			h4.who-title Клуб инвесторов «Мой капитал»
			p.who-text Это профессиональное сообщество людей, объединённых глобальной целью: открыть новые перспективные инструменты для приумножения капитала и помочь друг другу в их применении
			h4.who-title Наша миссия
			p.who-text Повысить финансовую грамотность среди населения и дать широкому кругу людей возможность получать доход независимо от уровня заработной платы, инфляции и экономического кризиса
		.col-md-7
			.who-img
				+imgs('', 'img/images/who.png', 'Картинка блока')