section#why
	.container
		+gt('', 'почему нам можно доверять?')
		.why-list-wrapper
			ol.why-list
				li Мы выбираем только 
					span действительно эффективные направления
					br
					|  для инвестиций
				li Проводим 
					span тщательный выбор
					|  проектов и партнёров
				li С нами работают 
					span лучшие эксперты
					|  по направлениям
				li У нас 
					span оптимальное соотношение доходности
					|  и рисков
				li
					span Надёжность вложений
					|  за счёт диверсификации портфеля
				li Мы вкладываем в каждый проект собственные средства, поэтому лично 
					span заинтересованы в доходности
				li Доходность 
					span выше банковского депозита
				li
					span Стабильные выплаты прибыли в обозначенные сроки
				li Возможность стать инвестором даже 
					span с небольшим капиталом
	.why-cta-wrapper
		.why-cta
			.container
				.row
					.col-md-7
						p.why-cta-text Сотрудничество с нами – Ваш первый шаг к финансовой свободе!
					.col-md-5
						.why-cta-button
							+b('', '', href,'Инвестировать в доходную недвижимость')