section#why
	.container
		+gt('', 'почему нам можно доверять?', 'ООО ИП "МК" - инвестиционная платформа, <br>внесённая в реестр ЦБ России')
		.row
			.col-md-6
				a.modal-up(href=path+'img/images/why.png')
					+imgs('why-img', 'img/images/why.png', 'Инфа о включении в реестр')
			.col-md-6
				ol.why-list
					li Мы получили 3 лицензии на управление финансами инвесторов
					li У нас в управлении находится около 100 млн. рублей
					li 1,2 млн. рублей выплаченных реферальных вознаграждений
					li 6,5 тыс. зарегистрированных пользователей в базе данных
					li 80 инвесторов со средним чеком 1 225 000 рублей
	.why-cta-wrapper
		.why-cta
			.container
				.row
					.col-md-7
						p.why-cta-text Сотрудничество с нами – Ваш первый шаг к финансовой свободе!
					.col-md-5
						.why-cta-button
							+b('', 'button-up', href,'Инвестировать в доходную недвижимость')