.white-popup.popup-modal.mfp-hide#Oasis
	p.modal-text Страница проекта находится в разработке. Вы обязательно узнаете все подробности позже. А пока смотрите видео о реализации проекта
	.video-wrapper.video-wrapper-modal
		iframe(src!='https://www.youtube.com/embed/C5XydcLDaYQ?modestbranding=0&mute=1' allowfullscreen).modal-video
.white-popup.popup-modal.mfp-hide#WA
	p.modal-text Страница проекта находится в разработке. Вы обязательно узнаете все подробности позже