section#main
	include ../base/1-header
	.container
		h1.main-title Благодарим за интерес, 
			br
			| проявленный к нашим проектам!
		.row
			.col-md-6
				+imgs('main-img','img/images/laptop.png','Laptop')
			.col-md-6
				h2.main-subtitle Присоединяйтесь к закрытой группе в Telegram!
				p.main-text Только у нас – самые последние новости мира инвестиций и крутые лайфхаки для приумножения капитала!
				a.button-thanks(href!="https://puzzlebot.top/H16E5SmQWz")
					img.button-thanks-img(src=path+"img/icons/tg-white.png" alt="Telegram")
					|  Подписаться